* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: 'icomoon';
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
  display: inline-block;
}